<!DOCTYPE html>

<!-- TODO dodać możliwość edytowania transakcji po ich zaakceptowaniu -->
<!-- TODO dodać możliwość wylistowania już zapisanych transakcji -->
<!-- TODO wprowadzić mechanizm ograniczający liczbę pobranych transakcji do transakcji z dnia dzisiejszego -->
<!-- TODO wprowadzić zapisywanie transakcji przy użyciu AJAXa -->
<!-- TODO dodać możliwość wylistowania wszystkich transakcji w panelu administratora -->

{% extends "BistroManagementToolApp/base.html" %}

{% load static %}

{% block own_css_block %}
    <link rel="stylesheet" href={% static "css/BistroManagementToolApp/styles_main.css" %}>
    <link rel="stylesheet" href={% static "css/BistroManagementToolApp/styles_transaction_page.css" %}>
{% endblock %}

{% block title %}
    Szybka transakcja
{% endblock %}

{% block body_block %}

    <div class="transaction_window">
        <div class="transction_window_header">
            <div id="header_buttons" class="header_item"></div>
            <div id="header_nazwa" class="header_item"><strong>Nazwa</strong></div>
            <div id="header_ilosc" class="header_item"><strong>Ilość</strong></div>
            <div id="header_brutto" class="header_item"><strong>Brutto</strong></div>
            <div id="header_total" class="header_item"><strong>Wartość</strong></div>
        </div>
        <div class="transction_window_main disable-scrollbars">
            <form id="transaction_form" action="{% url 'BistroManagementToolApp:panel_transakcji' %}" method="POST" style="display: none;flex-direction: column">
                {% csrf_token %}
                {{ form_set.management_form }}
                <div id="form_set">
                </div>
                <input id='submit_button' type="submit" value="submit">
                <div id="empty_form" style="display: none">{{ form_set.empty_form.product }}{{ form_set.empty_form.quantity }}</div>
            </form>
        </div>
        <div class="transaction_window_summary">
            <div id="summary_label" class="summary_item">Razem:</div>
            <div id="summary_amount" class="summary_item">0.0 PLN</div>
        </div>
    </div>

    <div id="transaction_offer" class="transaction_offer_visible">
        <div class="product_groups disable-scrollbars">
            {% if product_groups %}
                {% for group in product_groups %}
                <button id="pg{{ group.id }}" class="group_item"><strong>{{ group.name }}</strong></button>
                {% endfor %}
            {% else %}
                <p>Brak grup produktowych do wyświetlenia</p>
            {% endif %}
        </div>
        <div class="product_items disable-scrollbars">
            {% if product_items %}
                {% for product in product_items %}
                    <button id="{{ product.name }}" class="product_item pg{{ product.group.id}}" data-product_ext_id="{{ product.ext_id }}" data-product_name="{{ product.name }}" data-product_brutto_price="{{ product.brutto_price }}"><strong>{{ product.name }}</strong></button>
                {% endfor %}
            {% else %}
                <p>Brak produktów do wyświetlenia</p>
            {% endif %}
        </div>
        <div id="twf_two" class="transction_window_footer">
            <button id="fi_zakończ" class="footer_item" onclick ="location.href='{% url 'BistroManagementToolApp:panel_sprzedawcy' %}'"><strong>Zakończ</strong></button>
            <button id="fi_lista_transakcji" class="footer_item"><strong>Lista transakcji</strong></button>
            <button id="fi_zapisz" class="footer_item"><strong>Zapisz</strong></button>
        </div>
    </div>

    <div id="transaction_list" class="transaction_list_hidden">
        <div class="transction_window_header">
            <div id="header_sales_person" class="header_item"><strong>Sprzedawca</strong></div>
            <div id="header_data" class="header_item"><strong>Data</strong></div>
            <div id="header_godzina" class="header_item"><strong>Godzina</strong></div>
            <div id="header_sztuki" class="header_item"><strong>Ilość</strong></div>
            <div id="header_wartosc" class="header_item"><strong>Wartość</strong></div>
        </div>
        <div class="transaction_list_items disable-scrollbars">
            {% if transactions %}
                {% for trans in transactions %}
                    <div id="{{ trans.id }}" class="transaction_list_item">
                        <p id="trans_sales_person">
                            {{ trans.sales_person }}
                        </p>
                        <p id="trans_data">
                            {{ trans.date_created.date }}
                        </p>
                        <p id="trans_godzina">
                            {{ trans.date_created.time }}
                        </p>
                        <p id="trans_ilosc">
                            {{ trans.number_of_products_in_transaction }} szt.
                        </p>
                        <p id="trans_wartosc">
                            {{ trans.brutto_transaction_value }} PLN
                        </p>
                    </div>
                {% endfor %}
            {% else %}
                <p>Brak transakcji do wyświetlenia</p>
            {% endif %}
        </div>
        <div id="twf_two" class="transction_window_footer">
            <button id="fi_zakończ" class="footer_item" onclick ="location.href='{% url 'BistroManagementToolApp:panel_sprzedawcy' %}'"><strong>Zakończ</strong></button>
            <button id="fi_lista_transakcji" class="footer_item"><strong>Lista transakcji</strong></button>
            <button id="fi_zapisz" class="footer_item"><strong>Zapisz</strong></button>
        </div>
    </div>

{% endblock %}

{% block optional_javascript_block %}
{% endblock %}

{% block own_javascript_block %}
    <script src="../../static/js/BistroManagementToolApp/panel_transakcji_scripts.js"></script>
{% endblock %}

